body{
    background-image: url(img/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#Logo{
    display: block;
    margin: auto;
    width: 40%;
}
.custom{
    background-color: #008cc5;
}
.navbar-brand {
    height: 5%;
    overflow: visible;
}
#div1{
    margin-top: 80%;
}