*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2d466e;
}
body{
    background-color: #2d466e;
}
li,a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
}
.logo{
    width: 350px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    text-decoration: none;
    color: rgb(163, 163, 163);
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 196, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 196, 0.8);
}
.Login{
    display: flex;
}
.LoginFrame{
    text-align: center;
    margin: 10% auto;
}
.Login a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#0099ff;
    text-decoration: none;
}
.Login p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
}
.Login label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color:white;
    text-decoration: none;

}
.Contacto{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.ContactoFrame{
    background-color: #2d466e;
    margin: 2% auto;
}
.Contacto a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#0099ff;
    text-decoration: none;
}
.Contacto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
}
.Contacto label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color:white;
    text-decoration: none;

}
#Titulo{
    color:white;
}