/*General CSS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #2d466e;
}


/*Header y Botones CSS*/
li,a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
}
.logo{
    width: 350px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.index-frame{
    text-align: center;
    margin-right: 2%;
    background-color: white;
    border-radius: 30px;
}
.text{
    padding: 5%;
}
.index-frame a{
    padding: 4%;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    text-decoration: none;
    color: rgb(163, 163, 163);
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 196, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 196, 0.8);
}


/*Index*/
.gridIndex{
    display: grid;
    grid-template-columns: 50% 50%;
}
.live-iframe{
    background-color: white;
    margin-right: 2%;
    border-radius: 30px;
}
.Live{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}
.Live iframe{
    padding: 2%;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.Linea1Live{
    margin-right: 4%;
    margin-left: 4%;
    background-color: #ffcb00;
    border-radius: 30px;
}
.Linea2Live{
    margin-right: 2%;
    background-color: #008ac4;
    border-radius: 30px;
}
.Linea3Live{
    margin-right: 2%;
    background-color: #5aac29;
    border-radius: 30px;
}


/*Login CSS*/
.Login{
    margin-right: 2%;
    background-color: white;
    border-radius: 30px;
}
.Linea1Login{
    margin-left: 30%;
    margin-right: 30%;
    background-color: #ffcb00;
    border-radius: 30px;
}
.Linea2Login{
    margin-right: 2%;
    background-color: #008ac4;
    border-radius: 30px;
}
.Linea3Login{
    margin-right: 2%;
    background-color: #5aac29;
    border-radius: 30px;
}
.LoginFrame{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.Login a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:#0099ff;
    text-decoration: none;
}
.Login h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color:black;
    text-decoration: none;
    background-color: transparent;
}
.Login p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:black;
    text-decoration: none;
}
.Login label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color:black;
    text-decoration: none;

}


/*Contacto CSS*/
.Linea1{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffcb00;
    border-radius: 30px;
}
.Linea2{
    margin-right: 2%;
    background-color: #008ac4;
    border-radius: 30px;
}
.Linea3{
    margin-right: 2%;
    background-color: #5aac29;
    border-radius: 30px;
}
.Contacto{
    margin-right: 2%;
    background-color: white;
    border-radius: 30px;
}
.Contacto a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:black;
    text-decoration: none;
}
.Contacto h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color:black;
    text-decoration: none;
    background-color: transparent;
}
.Contacto p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none;
}
.Contacto label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color:black;
    text-decoration: none;

}
.ContactoFrame{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
}

/*Proyectos CSS*/
.gridProyectos{
    display:grid;
    grid-template-columns: 50% 50%;
}
.Tabla1{
    text-align: center;
    background-color: #355485;
    margin-right: 10%;
    margin-left: 40%;
    border-radius: 50px;
}
.Tabla2{
    text-align: center;
    background-color: #355485;
    margin-right: 40%;
    margin-left: 10%;
    border-radius: 50px;;
}


/*Letras y Titulos*/
#Titulo{
    color:white;
}
#TituloProyectos{
    color:white;
    text-align: center;
}
#TituloTablaProyectos{
    color:white;
    text-align: center;
    font-size: 25px;
}
.card{
    margin: 2%;
    border-radius: 50px;
    color:white;
    border: none;
}
.card a{
    color:black;
}


@media screen and (max-width: 1014px) {
    .gridIndex{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2%;
    }
    header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .nav-links li {
        display: table;
    }
}
@media screen and (max-width: 700px) {
    .gridIndex{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 2%;
    }
    header{
        justify-content: center;
    }
    header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .nav-links li {
        display: none;
    }
    .BotonLogin{
        display:none;
    }
}