.Linea2 {
  margin-right: 2%;
  background-color: #008ac4;
  border-radius: 30px;
}
.Linea3 {
  margin-right: 2%;
  background-color: #5aac29;
  border-radius: 30px;
}

.Linea2Index {
  margin-right: 1%;
  background-color: #008ac4;
}
.Linea3Index {
  margin-right: 1%;
  background-color: #5aac29;
}
