.Index-Page {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 12%;
  color: white;
  position: relative;
  text-align: center;
  vertical-align: middle;

  .PageLogo {
    width: 650px;
  }
  #Flecha {
    margin-top: 40px;
  }
  .ContinuarIndex {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    width: 100%;
    margin-top: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  .ContinuarIndex:hover {
    background-color: white;
    color: rgb(65, 65, 65);
  }
  .texto {
    font-size: 20px;
  }
  .texto2 {
    color: white;
    text-decoration: none;
  }
}
.CardsIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .Carta {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    p {
      font-size: 20px;
    }
  }
  .Linea1Card {
    background-color: #ffcb00;
    border-radius: 30px;
  }
  .Cards {
    margin-right: 2%;
    background-color: white;
    line-height: 300px;
    height: 300px;
    border-radius: 30px;
  }
}

.index-frame {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin-right: 1%;
  background-color: white;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none;
    background-color: transparent;
  }
  .Livestream {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
  }
  .Livestream iframe,
  .Livestream object,
  .Livestream embed {
    border-radius: 30px;
    padding: 2%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.index-frame2 {
  margin-top: 2%;
  text-align: center;
  margin-right: 1%;
  background-color: white;
}
.rid1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.live-iframe {
  background-color: white;
  margin-right: 2%;
}
.Live {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    padding: 2%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
}
.Linea1Live {
  background-color: #ffcb00;
}
.text {
  padding: 5%;
  margin-bottom: 5%;
}
.text2 {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 2%;

  .DivRotate1 {
    padding: 5%;
    background-color: #5aac29;
    border-radius: 30px;
    margin: 2%;
  }
  .DivRotate2 {
    padding: 5%;
    background-color: #008ac4;
    border-radius: 30px;
    margin: 2%;
  }
  .DivRotate3 {
    padding: 5%;
    background-color: #ffcb00;
    border-radius: 30px;
    margin: 2%;
  }
}
