.Proyecto {
    margin-right: 1%;
    background-color: white;
    border-radius: 30px;
  }
  .Tabla {
    padding: 5%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
  }
  .Linea1Proyecto {
    margin-left: 20%;
    margin-right: 2%;
    background-color: #ffcb00;
    border-radius: 30px;
  }
  .Linea2Proyecto {
    margin-right: 1%;
    background-color: #008ac4;
    border-radius: 30px;
  }
  .Linea3Proyecto {
    margin-right: 1%;
    background-color: #5aac29;
    border-radius: 30px;
  }