.Proyecto {
  margin-right: 2%;
  background-color: white;
  border-radius: 30px;
}
.Tabla {
  padding: 5%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 3%;
}
.Linea1Proyecto {
  margin-left: 20%;
  margin-right: 2%;
  background-color: #ffcb00;
  border-radius: 30px;
}
.Linea1ProyectosLista {
  margin-top: 3%;
  margin-bottom: 6%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #ffcb00;
  border-radius: 30px;
}
